.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(68, 60, 133);
  margin: 0;
  padding: 0;
}

.input{
  height: 30px;
  text-shadow: 3px black;
  border-radius: 5px;
  text-align: center;
  color:rgb(38, 36, 55);
}

.input_btn{
  border-radius: 5px;
  height: 30px;
  margin: 20px;
}

.addTask {
  height: 10vh;
  background-color: rgb(79, 48, 163);
  height: 200px;
  background-image: linear-gradient(rgb(68, 60, 133), rgb(32, 12, 7));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  margin-bottom: 200px;
  background-image: linear-gradient(rgb(32, 12, 7 ), rgb(68, 60, 133));
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button {
  width: auto;
  height: 20px;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
}